.skills {
  display: grid;
  .skill {
    height: 12rem;
    &:nth-child(odd) {
      grid-row: 1;
    }
  }
}
.list-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
.button {
  &:focus {
    filter: brightness(0.6);
  }
}
.heading {
  display: flex;
  gap: 1rem;
}
